body {
  margin: 0;
  font-family: monospace;
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

button {
  height: 40px;
  width: 160px;
  font-family: monospace;
  font-weight: bold;
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 20px;
}

.brazilData,
.worldData {
  display: none;
  animation: textDown 1s;
}

.brazilData.ativo,
.worldData.ativo {
  display: block;
  color: white;
  margin-top: 20px;
}

.menu {
  width: 600px;
  height: 600px;
  background: salmon;
  border-radius: 10px 100px / 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu button {
  margin-top: 60px;
}

@media (max-width: 700px) {
  .menu {
    width: 400px;
    height: 500px;
    border-radius: 5% / 40%;
  }
}

span {
  font-weight: bold;
}

@keyframes textDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
